#notice_view_wrapper {
    margin: 0 20px; padding-bottom: 50px;
}

#notice_view_wrapper .page_title {
    color: #353940; font-size: 40px; font-weight: 700; line-height: 1.5; margin: 100px 0; text-align: center;
}

#notice_view_wrapper .notice_view_wrap .title_box {
    display: flex; justify-content: space-between; align-items: center; padding: 25px 0;
}

#notice_view_wrapper .notice_view_wrap .title_box .notice_title {
    color: #353940; font-size: 22px; font-weight: 700; line-height: 1.5;
}

#notice_view_wrapper .notice_view_wrap .title_box .notice_date {
    color: #878C8F; font-size: 16px; font-weight: 400;
}

#notice_view_wrapper .notice_view_wrap .contents_box {
    padding: 30px 0; border: 1px solid #E4E7E9; border-left: 0; border-right: 0; margin-bottom: 50px; color: #353940; font-size: 18px; font-weight: 400; line-height: 1.5; word-break: keep-all;
}

#notice_view_wrapper .notice_view_wrap .btn_wrap .list_btn {
    display: block; width: 255px; color: #0066FF; font-size: 16px; font-weight: 700; line-height: 1.5; border: 1px solid #0066FF; border-radius: 6px; padding: 17px 0; text-align: center; transition: all 0.3s; -webkit-transition: all 0.3s; margin: 0 auto;
}

#notice_view_wrapper .notice_view_wrap .btn_wrap .list_btn:hover {
    background-color: #0066FF; color: #FFFFFF;
}


@media screen and (max-width: 990px) {
    #notice_view_wrapper .page_title {
        margin: 30px 0; font-size: 28px;
    }

    #notice_view_wrapper .notice_view_wrap .title_box {
        display: block; padding: 15px 0;
    }

    #notice_view_wrapper .notice_view_wrap .title_box .notice_title {
        margin-bottom: 15px; font-size: 18px;
    }

    #notice_view_wrapper .notice_view_wrap .title_box .notice_date {
        font-size: 13px; font-weight: 700;
    }

    #notice_view_wrapper .notice_view_wrap .contents_box {
        padding: 25px 0; font-size: 14px; font-weight: 700;
    }

    #notice_view_wrapper .notice_view_wrap .btn_wrap .list_btn {
        width: auto;
    }
}